<aside class="menu">
  <p class="menu-label">
    Assets
  </p>
  <ul class="menu-list">
    <% if (configHelpers.getConfigProperty('modules.integrityChecker.fasterAssets.isEnabled')) { %>
      <li>
        <a
          <% if (menu === 'faster') { %>class="is-active"<% } %>
          href="./assetsFaster">
          <span>
            FASTER Web
          </span>
        </a>
      </li>
    <% } %>
    <% if (configHelpers.getConfigProperty('modules.integrityChecker.worktechEquipment.isEnabled')) { %>
      <li>
        <a
          <% if (menu === 'worktech') { %>class="is-active"<% } %>
          href="./assetsWorktech">
          <span>
            FASTER Web
            <i class="fa-solid fa-left-right" aria-hidden="true"></i>
            WorkTech
          </span>
        </a>
      </li>
    <% } %>
  </ul>
</aside>