.nyc_output/
coverage/
cypress/downloads/
cypress/screenshots/
cypress/videos/
daemon/

node_modules/

data/*.db
data/*.db-journal
data/*.db-shm
data/*.db-wal

data/config.d.ts
data/config.js
data/config.ts
data/sessions/*

public/autocomplete/*.json

temp/*
