.input[readonly],
.select select[readonly] {
  background-color: var(--bulma-input-disabled-background-color);
  border-color: var(--bulma-input-disabled-border-color);
  box-shadow: none;
  color: var(--bulma-input-disabled-color);
  cursor: not-allowed;
}

.has-width-1 {
  width: 1px;
}

/*
 * Tables
 * On hover, highlight the row
 */

.table.is-rowfocused tbody:hover tr {
  opacity: 0.5;
}

.table.is-rowfocused tbody tr:hover {
  opacity: 1;
}
