.input[readonly],
.select select[readonly] {
  background-color: var(--bulma-input-disabled-background-color);
  border-color: var(--bulma-input-disabled-border-color);
  box-shadow: none;
  color: var(--bulma-input-disabled-color);
  cursor: not-allowed;
}

.table.is-rowfocused tbody:hover tr {
  opacity: 0.5;
}

.table.is-rowfocused tbody tr:hover {
  opacity: 1;
}