<%- include('../_header'); -%>

<h1 class="title">Inventory Count Scanner</h1>

<%- include('../_footerA'); -%>

<script>
  cityssm.htmlModalFolder = "<%= urlPrefix %>/inventoryScanner/html/";
</script>

<%- include('../_footerB'); -%>
